In [3]:
import pandas as pd
import numpy as npy 

df = pd.read_csv("sales.csv")

In [4]:
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,24-11-2023,CUST001,Male,34,Beauty,3,50,150
1,2,27-02-2023,CUST002,Female,26,Clothing,2,500,1000
2,3,13-01-2023,CUST003,Male,50,Electronics,1,30,30
3,4,21-05-2023,CUST004,Male,37,Clothing,1,500,500
4,5,06-05-2023,CUST005,Male,30,Beauty,2,50,100

In [5]:
df.describe()

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

In [6]:
df.shape

(1000, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [8]:
df.isnull().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [9]:
grouped = df.groupby('Gender')

In [10]:
print(grouped.get_group('Male'))

     Transaction ID        Date Customer ID Gender  Age Product Category  \
0                 1  24-11-2023     CUST001   Male   34           Beauty
2                 3  13-01-2023     CUST003   Male   50      Electronics
3                 4  21-05-2023     CUST004   Male   37         Clothing
4                 5  06-05-2023     CUST005   Male   30           Beauty
6                 7  13-03-2023     CUST007   Male   46         Clothing
..              ...         ...         ...    ...  ...              ...
973             974  03-05-2023     CUST974   Male   47           Beauty
983             984  29-08-2023     CUST984   Male   56         Clothing
995             996  16-05-2023     CUST996   Male   62         Clothing
996             997  17-11-2023     CUST997   Male   52           Beauty
999            1000  12-04-2023    CUST1000   Male   47      Electronics

     Quantity  Price per Unit  Total Amount
0           3              50           150
2           1              30            30
3           1             500           500
4           2              50           100
6           2              25            50
..        ...             ...           ...
973         1              30            30
983         1             500           500
995         1              50            50
996         3              30            90
999         4              30           120

[490 rows x 9 columns]

In [11]:
print(grouped.get_group('Male').sum())

Transaction ID                                                 246744
Date                24-11-202313-01-202321-05-202306-05-202313-03-...
Customer ID         CUST001CUST003CUST004CUST005CUST007CUST008CUST...
Gender              MaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMa...
Age                                                             20300
Product Category    BeautyElectronicsClothingBeautyClothingElectro...
Quantity                                                         1216
Price per Unit                                                  88055
Total Amount                                                   223160
dtype: object

In [13]:
grouped_stats = df.groupby('Age')['Total Amount'].describe()
print(grouped_stats)

     count        mean         std   min     25%    50%     75%     max
Age
18    21.0  534.047619  664.365523  30.0   75.00  120.0  1000.0  2000.0
19    21.0  708.095238  700.805744  25.0   75.00  500.0  1200.0  2000.0
20    21.0  411.666667  572.990692  25.0   50.00   60.0   900.0  2000.0
21    20.0  629.250000  624.293864  25.0   57.50  500.0  1050.0  2000.0
22    27.0  507.407407  628.250578  25.0   50.00  100.0   950.0  2000.0
23    24.0  342.500000  444.509989  30.0   75.00  100.0   375.0  1500.0
24    15.0  361.000000  536.294162  25.0   50.00   60.0   500.0  1500.0
25    20.0  495.000000  594.967934  25.0  131.25  300.0   525.0  2000.0
26    22.0  635.454545  602.383972  25.0   78.75  550.0  1000.0  2000.0
27    23.0  408.043478  543.471039  25.0   62.50  100.0   550.0  2000.0
28    21.0  412.857143  479.482980  25.0   90.00  100.0  1000.0  1200.0
29    16.0  410.625000  541.078784  50.0   90.00  150.0   525.0  2000.0
30    22.0  445.000000  569.155598  25.0   92.50  135.0   575.0  2000.0
31    22.0  464.545455  599.237430  25.0  105.00  200.0   500.0  2000.0
32    19.0  292.105263  362.346963  30.0   50.00  100.0   450.0  1200.0
33    10.0  624.000000  806.352556  50.0   92.50  125.0  1025.0  2000.0
34    28.0  599.464286  696.098039  30.0   93.75  150.0  1200.0  2000.0
35    22.0  513.181818  583.979667  25.0   78.75  150.0   900.0  2000.0
36    15.0  607.000000  693.175406  25.0  100.00  200.0   950.0  2000.0
37    16.0  728.125000  619.798018  50.0  120.00  700.0  1500.0  1500.0
38    19.0  584.210526  599.159743  30.0   90.00  300.0   950.0  2000.0
39    18.0  255.277778  333.772872  25.0   63.75  100.0   275.0  1200.0
40    24.0  392.291667  488.104094  25.0   50.00   75.0   900.0  1500.0
41    21.0  269.047619  395.343582  25.0   50.00   90.0   300.0  1500.0
42    26.0  326.923077  586.610735  25.0   50.00   90.0   200.0  2000.0
43    31.0  579.677419  631.961148  25.0  110.00  200.0   900.0  2000.0
44    15.0  504.000000  694.468450  25.0   55.00  100.0   600.0  2000.0
45    17.0  372.058824  602.098048  25.0   50.00   90.0   200.0  2000.0
46    25.0  523.600000  573.364558  25.0   90.00  200.0  1000.0  2000.0
47    26.0  480.961538  579.227104  25.0   90.00  110.0   900.0  2000.0
48    18.0  402.222222  458.572665  30.0   70.00  150.0   600.0  1500.0
49    19.0  268.947368  283.385186  50.0   87.50  200.0   300.0  1000.0
50    23.0  428.043478  493.447379  25.0   82.50  200.0   700.0  1500.0
51    30.0  535.500000  614.687123  25.0  105.00  150.0   900.0  2000.0
52    22.0  320.000000  372.418096  30.0   90.00  150.0   425.0  1200.0
53    17.0  559.411765  642.275939  60.0  150.00  300.0   900.0  2000.0
54    28.0  375.178571  518.283281  25.0   57.50  100.0   525.0  2000.0
55    21.0  465.714286  577.802487  30.0   50.00  120.0   500.0  2000.0
56    19.0  496.842105  502.541349  25.0   95.00  300.0   800.0  1500.0
57    30.0  309.666667  398.750059  25.0   50.00  100.0   450.0  1200.0
58    14.0  528.214286  499.756122  25.0   78.75  450.0   900.0  1500.0
59    17.0  557.058824  641.134392  25.0   60.00  100.0  1000.0  2000.0
60    22.0  526.818182  547.291046  30.0   92.50  225.0   975.0  2000.0
61    18.0  373.888889  528.659669  25.0   60.00  100.0   450.0  2000.0
62    27.0  300.740741  542.186995  25.0   50.00  100.0   200.0  2000.0
63    17.0  544.117647  630.461724  30.0   75.00  120.0  1000.0  2000.0
64    31.0  294.354839  502.181478  25.0   50.00  100.0   250.0  2000.0

In [ ]:
result = df.groupby('Gender').agg({'Total Amount': ['min', 'max','mean','count','std','median']})

In [47]:
print(result)

       Total Amount
                min   max        mean count         std median
Gender
Female           25  2000  456.549020   510  554.299371  150.0
Male             25  2000  455.428571   490  566.433809  120.0

In [49]:
result = df.groupby('Product Category').agg({'Price per Unit': ['min', 'max','mean','count','std','median']})

In [50]:
print(result)

                 Price per Unit
                            min  max        mean count         std median
Product Category
Beauty                       25  500  184.055375   307  194.929399   50.0
Clothing                     25  500  174.287749   351  186.017065   50.0
Electronics                  25  500  181.900585   342  189.049673   50.0

In [53]:
df1 = pd.read_csv("iris.csv")

In [54]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [58]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [60]:
df1.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [62]:
df1.shape

(150, 5)

In [63]:
df1.size

750

In [64]:
df1.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [65]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [68]:
group = df.groupby('species')

In [94]:
print(group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f85f50ebca0>

In [73]:
print(group.get_group('Iris-setosa'))

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

In [74]:
print(group.get_group('Iris-versicolor'))

    sepal_length  sepal_width  petal_length  petal_width          species
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor
55           5.7          2.8           4.5          1.3  Iris-versicolor
56           6.3          3.3           4.7          1.6  Iris-versicolor
57           4.9          2.4           3.3          1.0  Iris-versicolor
58           6.6          2.9           4.6          1.3  Iris-versicolor
59           5.2          2.7           3.9          1.4  Iris-versicolor
60           5.0          2.0           3.5          1.0  Iris-versicolor
61           5.9          3.0           4.2          1.5  Iris-versicolor
62           6.0          2.2           4.0          1.0  Iris-versicolor
63           6.1          2.9           4.7          1.4  Iris-versicolor
64           5.6          2.9           3.6          1.3  Iris-versicolor
65           6.7          3.1           4.4          1.4  Iris-versicolor
66           5.6          3.0           4.5          1.5  Iris-versicolor
67           5.8          2.7           4.1          1.0  Iris-versicolor
68           6.2          2.2           4.5          1.5  Iris-versicolor
69           5.6          2.5           3.9          1.1  Iris-versicolor
70           5.9          3.2           4.8          1.8  Iris-versicolor
71           6.1          2.8           4.0          1.3  Iris-versicolor
72           6.3          2.5           4.9          1.5  Iris-versicolor
73           6.1          2.8           4.7          1.2  Iris-versicolor
74           6.4          2.9           4.3          1.3  Iris-versicolor
75           6.6          3.0           4.4          1.4  Iris-versicolor
76           6.8          2.8           4.8          1.4  Iris-versicolor
77           6.7          3.0           5.0          1.7  Iris-versicolor
78           6.0          2.9           4.5          1.5  Iris-versicolor
79           5.7          2.6           3.5          1.0  Iris-versicolor
80           5.5          2.4           3.8          1.1  Iris-versicolor
81           5.5          2.4           3.7          1.0  Iris-versicolor
82           5.8          2.7           3.9          1.2  Iris-versicolor
83           6.0          2.7           5.1          1.6  Iris-versicolor
84           5.4          3.0           4.5          1.5  Iris-versicolor
85           6.0          3.4           4.5          1.6  Iris-versicolor
86           6.7          3.1           4.7          1.5  Iris-versicolor
87           6.3          2.3           4.4          1.3  Iris-versicolor
88           5.6          3.0           4.1          1.3  Iris-versicolor
89           5.5          2.5           4.0          1.3  Iris-versicolor
90           5.5          2.6           4.4          1.2  Iris-versicolor
91           6.1          3.0           4.6          1.4  Iris-versicolor
92           5.8          2.6           4.0          1.2  Iris-versicolor
93           5.0          2.3           3.3          1.0  Iris-versicolor
94           5.6          2.7           4.2          1.3  Iris-versicolor
95           5.7          3.0           4.2          1.2  Iris-versicolor
96           5.7          2.9           4.2          1.3  Iris-versicolor
97           6.2          2.9           4.3          1.3  Iris-versicolor
98           5.1          2.5           3.0          1.1  Iris-versicolor
99           5.7          2.8           4.1          1.3  Iris-versicolor

In [82]:
print(group.get_group('Iris-virginica'))

     sepal_length  sepal_width  petal_length  petal_width         species
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica
105           7.6          3.0           6.6          2.1  Iris-virginica
106           4.9          2.5           4.5          1.7  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
108           6.7          2.5           5.8          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
110           6.5          3.2           5.1          2.0  Iris-virginica
111           6.4          2.7           5.3          1.9  Iris-virginica
112           6.8          3.0           5.5          2.1  Iris-virginica
113           5.7          2.5           5.0          2.0  Iris-virginica
114           5.8          2.8           5.1          2.4  Iris-virginica
115           6.4          3.2           5.3          2.3  Iris-virginica
116           6.5          3.0           5.5          1.8  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
119           6.0          2.2           5.0          1.5  Iris-virginica
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [81]:
print(group.get_group('Iris-versicolor').sum())

sepal_length                                                296.8
sepal_width                                                 138.5
petal_length                                                213.0
petal_width                                                  66.3
species         Iris-versicolorIris-versicolorIris-versicolorI...
dtype: object

In [90]:
result = df1.groupby('species').agg({'sepal_length' : ['min','max','count','median','mean'],'petal_length':['min','max','mean','median','count']})

In [91]:
print(result)

                sepal_length                          petal_length       \
                         min  max count median   mean          min  max
species
Iris-setosa              4.3  5.8    50    5.0  5.006          1.0  1.9
Iris-versicolor          4.9  7.0    50    5.9  5.936          3.0  5.1
Iris-virginica           4.9  7.9    50    6.5  6.588          4.5  6.9


                  mean median count
species
Iris-setosa      1.464   1.50    50
Iris-versicolor  4.260   4.35    50
Iris-virginica   5.552   5.55    50

In [92]:
result = df1.groupby('species').agg({'sepal_width' : ['min','max','count','median','mean']})

In [93]:
print(result)

                sepal_width
                        min  max count median   mean
species
Iris-setosa             2.3  4.4    50    3.4  3.418
Iris-versicolor         2.0  3.4    50    2.8  2.770
Iris-virginica          2.2  3.8    50    3.0  2.974